/demonstratives_model_simple/meeting_saved_chat.txt
/demonstratives_model_simple/Speaker_with_bug_1.py
/demonstratives_model_simple/Speaker_with_bug_1_MW.py
/demonstratives_model_simple/Speaker_with_bug_2.py
/demonstratives_model_simple/Speaker_with_bug_2_MW.py
